// Primary colors

$base-color: #23262e;
$light-grey: #2e323d;
$text-white: #d5ced9;

// Secondary colors
$yellow: #ffca28;
$pink: #f06292;
$blue: #42a5f5;
$darkblue: #336699;
$green: #009688;
$orange: #e44d26;

$grey-100: #82848b;
$grey-200: #6d7077;
$grey-300: #585b64;
$grey-400: #434750;
$grey-500: #2e323d;
$grey-600: #292d37;
$grey-700: #252831;
$grey-800: #20232b;
$grey-900: #1c1e25;

$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;
$secondary-500: #ffca28;

$title-font: "Open Sans", sans-serif;
$body-font: "Nunito", sans-serif;
